.DS_Store
.build/
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!Packages/**/*.xcworkspace
xcuserdata/
Packages/SwiftmailCore/.swiftpm/
Packages/SwiftmailCore/.build/
Config/Secrets.xcconfig
*.xcresult
